<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% require 'cryptocompare' %>



<% for ticker in @tickers %>
  <% @price = Cryptocompare::Price.find(ticker, 'USD', { api_key: 'API_KEY' }) %>
  <% @coin = Cryptocompare::Price.full(ticker, 'USD') %>

  <%= @coin["RAW"][ticker]["USD"]["FROMSYMBOL"] %>: <%= @price[ticker]["USD"] %><br>

<% end %>
